h2{
    color: rgb(244, 245, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;

}

p{
    color: rgb(78, 63, 15);
    font-size: 10px;
    font-family: fantasy;
}

div.card{
    background-color: white;
    width: 300px;
    border: 10px wheat;
    padding: 25px;
    align-items: center;
    text-align: center;
    border-radius: 10px;

}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aliceblue;
}

.avatar{
   border-radius: 50%; 
   width: 100px;
   height: 100px;
   margin-bottom: 10px;
   object-fit: cover;
}

button{
    color: white;
    background-color: blue;
    padding:10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}