h1{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:  43px;
}




p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: cadetblue;
}

div.box {
    background-color: aqua;
    width: 300px;
    font-size: 25px;
    border: 5px solid black ;
    padding: 25px;
    margin: 50px;
 }

 div.box2{
        background-color: rgb(110, 110, 145);
    width: 40px;
font-size: larger;
border: 24px solid wheat;
}

.navbar{
    background-color: #555;
    color: aliceblue;
    height: 60px;

    display: flex; justify-content: space-between;
    align-items: center;
    padding:0 20px;
}